/* google fonts 
Archivo Black titles 
Kite One-main content*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kite+One&display=swap');

/*root variables*/
:root {
--primary-color:#CFFFE2;/*Mint*/
--secondary-color:#A2D5C6; /* cyan*/
--highlight-color:#F6F6F6; /*light grey*/
--header-font:"Archivo Black", sans-serif ;
--secondary-font:"Kite One", sans-serif;
}
/*general styles*/
body {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    
}
h1,h2,h3{
    font-family: var(--header-font);
}

main{
    background-color: var(--secondary-color);
}
.margins{
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}
.center{
    display:flex;
    justify-content:center;
    align-items: center;
}
.text-middle{
    text-align:center;
}
.main-body{
    display:flex;
    flex-direction: column;
    min-height:100vh;
}

/*Key Information*/
.carousel-item{background-color: black;}
.carousel-item p{
    text-transform: uppercase;
    font-weight: bold;
    color:var(--highlight-color);
}
/*membership section*/
#membership ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0%;
    

}
#membership-cards, #social-links,#opening-times{
    display:flex;
    justify-content: space-around;
}
#bronze, #silver, #gold{
    display: flex;
    justify-content: center;
    width:16rem;
    
}
.card-body{
    background-color: var(--highlight-color);
}
#membership-button{ 
    display:flex;
    align-items: center;
    justify-content: center;
}




/*whats on table*/
#membership-table{
    background-color: transparent;;
    font-size: x-small;
}
#membership-table th, #membership-table td{
    background-color: transparent;
    border-color: var(--highlight-color);
}
/*take the tour*/






/*footer*/
#footer i{
    color: var(--highlight-color);
    padding:1em;
}
#footer{
    color: var(--highlight-color);
font-size: x-small;
}
/*header order for tablets and larger*/
@media (min-width: 768px){

    #header-pic{
        order:2;
        height:100%;
    }
    #header-title{
        order:1;
        text-align:center;
    }
    #header-text{
        order:3;
    }
}


@media (min-width: 998px){
   /* index.html pic size for larger screens*/
    #header-pic{
        max-width: 652px;
        max-height: 435px;
    }
}
/*take the tour
 #wr-title{
    order:0;
 }
 #weights-room{

 }
 #wr-1, #wr-2, #wr-3, #wr-4, #wr-5, #wr-6{
    margin:0;
    padding:0;
    height: max-content;
 }
 #wr-1{
   order:1;
 }
 #wr-2{
    order:5;
 }
 #wr-3{
    order:3;
 }
 #wr-4{
    order:4;
 }
 #wr-5{
    order:2;
 }
 #wr-6{
    order:6;
 }
 #wr-quote{
    order: 7;
 }






}*/