/* google fonts 
Archivo Black titles 
Kite One-main content*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kite+One&display=swap');

/*root variables*/
:root {
--primary-color:#CFFFE2;/*Mint*/
--secondary-color:#A2D5C6; /* cyan*/
--highlight-color:#F6F6F6; /*light grey*/
--header-font:"Archivo Black", sans-serif ;
--secondary-font:"Kite One", sans-serif;
}
/*general styles*/
body {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    
}
h1,h2,h3{
    font-family: var(--header-font);
}

main{
    background-color: var(--secondary-color);
}
.margins{
    margin-top:2em;
    margin-bottom:2em;
}
/*header styles*/
#header{width:100vw;}
/*carousel section*/
.carousel-item{background-color: black;}
.carousel-item p{
    text-transform: uppercase;
    font-weight: bold;
    color:var(--highlight-color);
}
/*membership section*/
#membership ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0%;
    

}
#bronze, #silver, #gold{
    display: flex;
    justify-content: center;
}

.card-body{
    background-color: var(--highlight-color);

}





/*whats on table*/
#membership-table{
    background-color: transparent;;
    font-size: x-small;
}
#membership-table th, #membership-table td{
    background-color: transparent;
    border-color: var(--highlight-color);
}




/*confirmation page*/
/*#confirmationH{
    height:30vh;
}

#confirmationM{
    height:30vh;



/*footer*/
#footer i{
    color: var(--highlight-color);
    padding:1em;
}
#footer{
    color: var(--highlight-color);
font-size: x-small;
}
/*header order for tablets and larger*/
@media (min-width: 768px){

    #header-pic{
        order:2;
        height:100%;
    }
    #header-title{
        order:1;
        text-align:center;
    }
    #header-text{
        order:3;
    }
}


@media (min-width: 1200px){
   /* index.html pic size for larger screens*/
    #header-pic{
        max-width: 652px;
        max-height: 435px;
    }
}