/* google fonts 
Archivo Black titles 
Kite One-main content*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kite+One&display=swap');

#icon{
  background-color:white;
}

#footer i{
    color:white;
}
#footer{
    color:white;
font-size: x-small;
}